<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="connectionStringDB" value="Data Source=C:\Users\dehhugu\OneDrive\Projets\TwitterConcours\ServiceConcoursTwitter\twitterAppDB.sqlite;Version=3;" />
		<add key="BlackListWords" value="porn;chaude;hot;vidéo;video;porno;alt mc;minecraft;netflix;spotify;steam;aleatoire;random;aléatoire;alt_mc;alts mc;alts_mc;compte origine;compte origin" />
		<add key="consumerKey" value="arIrwBpwBUwZM6F3P6fhg5Nb3" />
		<add key="consumerSecret" value="Jk1gwsvuU8bQoPx8rAlnIpJ6sxU0I4hgofRUP87Y5LZjimjU52" />
		<add key="tokenApp" value="1026843939901460480-9MZO5nGqXpC8U4U0Q5V4FZ2hdjRtIb" />
		<add key="tokenSecret" value="k70Q8oByhLVcPdMJn7biLrOstpfxKahILOaX9iC29qDTA" />
	</appSettings>
</configuration>